body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* Header section start */
header {
   background-color: rgba(231, 157, 214, 0.897);
}
.banner {
    padding: 50px 180px 0;
    justify-content: space-between;
}
.banner-main-pat{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title {
    font-size: 60px;
}
.banner-content {
    max-width: 500px;
}
.title {
   color: brown;
}
.btn-primary {
    background-color: crimson;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 0px;
    border-radius: 8px;
    padding: 15px 30px;
}
.flower-pic{
    width: 435px;
    height: 600px;
}
/* Header section end */


/* footer section start */
.footer-text {
    color: brown;
}
.fonts {
    color: white;
}
footer{
   background: #111010;
    text-align: center;
    /* justify-content: center; */
    /* width: 1522px; */
    height: 449px;
}
.footer-content { 
color: rgba(255, 255, 255, 0.90);
font-size: 14px;
font-weight: 400;
line-height: 30px;
/* width: 50%; */
}
.footer-title {
    padding: 130px 450px;
}

.footer-item {
color: rgba(255, 255, 255, 0.40);
font-size: 13px;
/* font-weight: 400px; */
}

/* footer section end */